@import 'styles/colors';
@import 'styles/variables';

.blog__details {
  @extend .page__layout;

  h1 {
    width: fit-content;
    max-width: 95vw;
    align-self: center;
    margin: 2rem 0 0 0;
    padding: 0.2rem 4rem;
    color: map-get($colors, primary);
    border: 2px solid transparent;
    border-bottom-color: map-get($colors, primary);
    border-radius: 10px;
  }

  h4, h6 {
    width: fit-content;
    align-self: center;
    color: map-get($colors, secondary);
    margin: 0.2rem 0 0 0;
  }

  h6 {
    color: inherit;
    margin-bottom: 1rem;
    font-size: 0.5rem;
  }

  code {
    position: fixed;
    bottom: 1rem;
    font-size: 0.6rem;
  }

  p {
    width: 50rem;
    min-width: 60vw;
    max-width: 95vw;
    padding: 1rem;
    text-indent: 2rem;
    text-align: left;
  }

  .blog__details--controls {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;

    a {
      margin: 0.5rem;
      color: map-get($colors, secondary);

      &:hover {
        color: map-get($colors, primary);
      }
    }

    button {
      margin: 0.5rem;
      padding: 0.2rem 1rem;
      color: map-get($colors, error);
      border: 2px solid map-get($colors, error);
      border-radius: 10px;
      box-shadow: 0 2px 8px map-get($colors, error);
      font-size: 1rem;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        color: map-get($colors, light);
        border-color: map-get($colors, light);
        background-color: map-get($colors, error);
        box-shadow: 0 2px 8px map-get($colors, light);
      }
    }
  }
}