@import 'styles/colors';
@import 'styles/variables';

.edit__blog {
  @extend .page__layout;

  .edit__blog--card {
    padding: 1rem 2rem;

    .edit__blog--form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      input[type='text'] {
        width: 100%;
        margin: 1rem 0;
      }

      textarea {
        width: 100%;
        height: 5rem;
        margin: 1rem 0;
      }

      button {
        padding: 0.2rem 2rem;
        width: fit-content;
        display: inline-flex;
        align-self: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: map-get($colors, light);
        background-color: map-get($colors, dark);
        border: 2px solid map-get($colors, secondary);
        border-radius: 10px;

        &:hover {
          cursor: pointer;
          color: map-get($colors, dark);
          background-color: map-get($colors, primary);
          border-color: map-get($colors, dark);
        }
      }
    }
  }
}
