@import 'styles/colors';
@import 'styles/variables';

.edit__profile {
  @extend .page__layout;

  .edit__profile--card {
    width: 22rem;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    .edit__profile--form {
      width: fit-content;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .primary__email {
        cursor: not-allowed;
        background-color: gray;
      }

      label {
        display: inline-flex;
        align-items: center;
        padding: 0.2rem;
      }

      input {
        margin: 0.5rem;
        margin-right: 0;
        padding: 0.2rem;
      }
    }

    .edit__profile--button {
      margin-top: 1rem;
    }
  }
}
