.view__profile {
  display: flex;
  justify-content: center;
  flex-direction: column;

  a {
    background-color: white;
    width: fit-content;
    padding: 0.5rem;
  }

  span {
    margin: 0.5rem;
  }
}
