@import 'styles/colors';

.view__profile {
  display: flex;
  justify-content: center;
  flex-direction: column;

  span {
    margin: 0.5rem;
  }

  td {
    padding: 0.2rem 1rem;
    text-align: left;
  }
}
