@import 'styles/colors';
@import 'styles/variables';

.view__profile {
  @extend .page__layout;
  align-items: stretch;

  table {
    margin: 1rem;

    td {
      padding: 0.2rem 1rem;
      text-align: left;
    }
  }

  .view__profile--button {
    align-self: center;
  }
}
