@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'styles/colors';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

body {
  min-height: 100vh;
  margin: 0;
  background: map-get($colors, dark);
  color: map-get($colors, light);
  overflow-x: hidden;
  text-align: center;
}

main {
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
