@import 'styles/colors';
@import 'styles/variables';

.home {
  @extend .page__layout;

  code {
    color: map-get($colors, secondary);
  }

  p {
    width: 90vw;
    max-width: 50rem;
    text-align: left;
    text-indent: 2rem;

    a {
      color: map-get($colors, primary);
      text-decoration: none;
      font-weight: bold;

      &:hover,
      &:focus {
        color: map-get($colors, secondary);
        outline: none;
      }
    }
  }
}
